Flask==3.0.0
gunicorn==21.2.0

# Core AI deps
torch==2.1.0
torchvision==0.16.0
segmentation_models_pytorch==0.3.3

# CV + image libs
numpy==1.26.4
Pillow==10.2.0
opencv-python-headless==4.8.0.76

# Preprocessing
albumentations==1.3.1
